<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="module">
<nav>
    <ul id="rooms">
        <li id="room1" class="selected">Hostel Care Unit</li>
        <li id="room2">Large Hostel<br />Care Unit</li>
        <li id="room3">Studio Care Unit</li>
        <li id="room4">2 Bedroom Unit Level One</li>
        <li id="room5">2 Bedroom Unit Ground Floor</li>
        <li id="room6">Dementia Care Unit</li>
    </ul>
</nav>
<section id="det_room1">
    <div class="image">

    </div>
    <article class="description">
        <p>Private and comfortable studio units with ensuite in a garden setting. </p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="door"></i> <span> Front and rear access</span></td>
            </tr>
            <tr>
                <td><i class="tea"></i> <span> Tea making facilities</span></td>
                <td><i class="tel"></i> <span> Telephone</span></td>
            </tr>
            <tr>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
                <td><i class="wifi"></i> <span> Optional Wi-Fi available</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>24 m<sup>2</sup> including ensuite</dd>
            <dt>Maximum Occupancy</dt>
            <dd>1 (Single room + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$320,000</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$68.11</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
<section style="display:none" id="det_room2">
    <div class="image">

    </div>
    <article class="description">
        <p>Large private care units in a garden setting with separate lounge and bedroom, and Ensuite bathroom.</p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="door"></i> <span> Front and rear access </span></td>
            </tr>
            <tr>
                <td><i class="tea"></i> <span> Tea making facilities </span></td>
                <td><i class="tel"></i> <span> Telephone </span></td>
            </tr>
            <tr>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
                <td><i class="wifi"></i> <span> Optional Wi-Fi available</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>30 m<sup>2</sup> including ensuite</dd>
            <dt>Maximum Occupancy</dt>
            <dd>1 (Single unit + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$375,000</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$68.11</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
<section style="display:none" id="det_room3">
    <div class="image">

    </div>
    <article class="description">
        <p>NEW larger studio units in with generous ensuite plus TV and Internet installed. These units include a private outdoor setting and adjoin our large shared space with dining facilities.</p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="door"></i> <span> Front and rear access </span></td>
            </tr>
            <tr>
                <td><i class="tea"></i> <span> Tea making facilities</span></td>
                <td><i class="tel"></i> <span> Telephone </span></td>
            </tr>
            <tr>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
                <td><i class="tv"></i> <span> Television</span></td>
            </tr>
            <tr>
                <td><i class="internet"></i> <span> Internet installed</span></td>
                <td><i class="wifi"></i> <span> Optional Wi-Fi available</span></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>27.5 m<sup>2</sup> including ensuite</dd>
            <dt>Maximum Occupancy</dt>
            <dd>1 (Single room + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$350,000</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$63.57</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
<section style="display:none" id="det_room4">
    <div class="image">

    </div>
    <article class="description">
        <p>Private and spacious upstairs 2 bedroom units for couples or singles with lounge, laundry, Kitchenette, balcony and remote controlled stair-lift access.</p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="kitch"></i> <span> Kitchenette </span></td>
            </tr>
            <tr>
                <td><i class="tel"></i> <span> Telephone </span></td>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
            </tr>
            <tr>
                <td><i class="lift"></i> <span> Stair lift</span></td>
                <td><i class="wifi"></i> <span> Optional Wi-Fi available</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>58 m<sup>2</sup></dd>
            <dt>Maximum Occupancy</dt>
            <dd>2 (Single/shared unit + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$400,000 for singles or $450,000 for couples</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$72.65 for singles or $81.73 for couples</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
<section style="display:none" id="det_room5">
    <div class="image">

    </div>
    <article class="description">
        <p>Private and spacious ground floor 2 bedroom units for couples or singles with lounge, laundry, Kitchenette and a private outdoor setting.</p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="door"></i> <span> Front and rear access</span></td>
            </tr>
            <tr>
                <td><i class="kitch"></i> <span> Kitchenette</span></td>
                <td><i class="tel"></i> <span> Telephone</span></td>
            </tr>
            <tr>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
                <td><i class="wifi"></i> <span> Optional Wi-Fi available</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>55 m<sup>2</sup></dd>
            <dt>Maximum Occupancy</dt>
            <dd>2 (Single/shared unit + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$425,000 for singles or $540,000 for couples</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$77.19 for singles or $98.08 for couples</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
<section style="display:none" id="det_room6">
    <div class="image">

    </div>
    <article class="description">
        <p>Private and secure units with ensuite and interconnected lounge and dining areas in a garden setting.</p>
        <table>
            <tr>
                <td><i class="bath"></i> <span> Ensuite bathroom</span></td>
                <td><i class="nurse"></i> <span> Nurse call system</span></td>
            </tr>
            <tr>
                <td><i class="night-s"></i> <span> Night-time sleep sensor</span></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <dl>
            <dt>Size</dt>
            <dd>24 m<sup>2</sup> including ensuite</dd>
            <dt>Maximum Occupancy</dt>
            <dd>1 (Single room + private ensuite)</dd>
            <dt>RAD <dfn>Maximum Refundable Accommodation Deposit</dfn></dt>
            <dd>$350,000</dd>
            <dt>DAP <dfn>Maximum Daily Accommodation Deposit</dfn></dt>
            <dd>$63.57</dd>
        </dl>
        <a href="#">What do these mean?</a>
    </article>
</section>
</div>



<br style="clear: both" /><br /><br /><br /><br /><br />

<section ng-app="angularjs" class="calculator">
    <div ng-controller="MainCtrl">

        <span>Room Type:&nbsp;&nbsp;&nbsp;<select ng-model="selectedItem" ng-options="item as item.name for item in items" ng-init="selectedItem = items[0]" data-ng-change="slide = 0"></select></span>

        <div id="slider">
            <b class="zero">0</b> <input id="sliders" class="bar" type="range" ng-model="slide" min="0" max="{{selectedItem.value}}" value="0" data-ng-change="inputnumb = sliders" /> <b class="valor">{{selectedItem.value}}</b>
            <span class="highlight"></span>
        </div>


        <table>
            <tr>
                <td style="width: 140px;border-bottom: 3px solid #000000;"><input type="text" pattern="\d*" id="valoreinput" maxlength="6" ng-model="inputnumb" max="{{selectedItem.value}}"
                                                                                  value="{{slide | isempty: 0}}" data-ng-change="appo = inputnumb"/></td>
                <td style="border-bottom: 3px solid #000000">x</td>
                <td style="border-bottom: 3px solid #000000">6.59%</td>
                <td rowspan="2">=</td>
                <td rowspan="2" style="width: 130px;">${{slide*0.0659/365 | isempty: 0 | number:2}}</td>
            </tr>
            <tr>
                <td colspan="3">365</td>
            </tr>
        </table>

    </div>
</section>











<script src="js.js" type="application/javascript"></script>
</body>
</html>