html,
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 100%;
}

*{
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
    font-size: 1em;
}

.module{
    width: 700px;

}

nav{
    background: #3A4348;
    height: 50px;
}

nav ul{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
}

nav ul li{
    display: table-cell;
    width: 16.1%;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #ffffff;
    color:#ffffff;
    cursor: pointer;
    padding: 0 2px;
}

.selected, nav ul li:hover{
    background: #68CBD9;
}

nav ul li:last-child{
    border-right: 0 none;
}

section{
    clear: both;
}

section .image{
    width: 435px;
    height: 450px;
    float: left;
}

section .description{
    float: right;
    height: 450px;
    width: 265px;
    background: #dcdcdc;
    color:#333333;
}

section .description p{
    margin: 10px;
    font-size: 14px;
}

section .description table{
    width: 100%;
    border-top:1px solid #333333;
    border-bottom:1px solid #333333;
    border-collapse: collapse;
    border-spacing: 0;
}

section .description table tr td{
    width: 50%;
    height: 35px;
    border-bottom: 1px solid#333333;
    font-size:12px;
    text-align: center;
    position: relative;
    padding: 0 10px 0 40px;
}

section .description table tr td:nth-last-child(odd){
    border-left: 1px solid #333333;
}

section .description dl{
    margin: 10px 10px 0;
    font-size: 11px;
}

section .description dl dt{
    font-weight: bold;
    margin-bottom: 5px;
}

section .description dl dt dfn{
    font-weight: normal;
    font-size: 9px;
}

section .description dl dd{
    margin: 0 0 10px;
}

section .description dl dd:last-child{
    margin: 0 0 2px;
}

section a{
    font-size: 12px;
    margin:0 10px;
    color: #000;
}

.bath:before{content:' ';display: block;height: 25px;width:28px;background:url('img/shower.png');top: 5px; left: 5px; position: absolute;}
.nurse:before{content:' ';display: block;height: 25px;width:25px;background:url('img/nurse.png');top: 5px; left: 5px; position: absolute;}
.tea:before{content:' ';display: block;height: 25px;width:19px;background:url('img/tea.png');top: 5px; left: 5px; position: absolute;}
.night-s:before{content:' ';display: block;height: 25px;width:37px;background:url('img/life.png');top: 5px; left: 5px; position: absolute;}
.tv:before{content:' ';display: block;height: 25px;width:29px;background:url('img/tv.png');top: 5px; left: 5px; position: absolute;}
.wifi:before{content:' ';display: block;height: 25px;width:25px;background:url('img/wifi.png');top: 5px; left: 5px; position: absolute;}
.tel:before{content:' ';display: block;height: 25px;width:25px;background:url('img/phone.png');top: 5px; left: 5px; position: absolute;}
.door:before{content:' ';display: block;height: 25px;width:17px;background:url('img/door.png');top: 5px; left: 5px; position: absolute;}
.kitch:before{content:' ';display: block;height: 25px;width:25px;background:url('img/kitchen.png');top: 5px; left: 5px; position: absolute;}
.lift:before{content:' ';display: block;height: 25px;width:24px;background:url('img/lift.png');top: 5px; left: 5px; position: absolute;}
.internet:before{content:' ';display: block;height: 25px;width:25px;background:url('img/internet.png');top: 5px; left: 5px; position: absolute;}


#det_room1 .image{background-image: url('img/hostel.jpg');}
#det_room2 .image{background-image: url('img/lstudio.jpg');background-position: -100px 0;}
#det_room3 .image{background-image: url('img/nstudio.jpg');background-position: -100px 0;}
#det_room4 .image{background-image: url('img/seconf.jpg');background-position: -200px 0;}
#det_room5 .image{background-image: url('img/firstf.jpg');background-position: -50px 0;}
#det_room6 .image{background-image: url('img/dementia.jpg');background-position: -100px 0;}



/* calculator */


.calculator{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    color: #333333;
    width: 600px;
}

.calculator span{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.calculator select{
    background: #ffffff;
    padding: 10px;
    border: 0 none;
    font-weight: bold;
    border-bottom: 2px solid #000000;
    outline: none;
}


#slider {
    width: 400px;
    height: 17px;
    position: relative;
    margin: 50px auto;
    background: #333333 ;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

}

#slider .bar {
    width: 388px;
    height: 5px;
    background: #333;
    position: relative;
    top: -4px;
    left: 4px;

    background: -moz-linear-gradient(left, #444444 0%, #555555 50%, #555555 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#444444), color-stop(50%,#555555), color-stop(100%,#555555));
    background: -webkit-linear-gradient(left, #444444 0%,#555555 50%,#555555 100%);
    background: -o-linear-gradient(left, #444444 0%,#555555 50%,#555555 100%);
    background: -ms-linear-gradient(left, #444444 0%,#555555 50%,#555555 100%);
    background: linear-gradient(left, rgba(68, 68, 68, 0.68) 0%,#555555 50%,#555555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#555555',GradientType=1 );

    -webkit-border-radius:40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

#slider .highlight {
    height: 2px;
    position: absolute;
    width: 388px;
    top: 6px;
    left: 6px;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    background: rgba(255, 255, 255, 0.25);
}

#slider input[type="range"] {
    -webkit-appearance: none;
    background-color: black;
    height: 2px;
}

.calculator input[type="text"] {
    background: #ffffff;
    border: 0 none;
    font-weight: bold;
    border-bottom: 2px dashed #333333;
    outline: none;
    text-align: center;
}

#slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -2px;
    z-index: 1;
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

.zero{
    font-size: 20px;
    left: -30px;
    position: absolute;
    top: -3px;
}

.valor{
    font-size: 20px;
    right: -80px;
    position: absolute;
    top: -3px;
}


.calculator table {
    margin: 0 75px;
    width: 50%;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing: 0;
}

.calculator table tr td{
    padding: 10px;
}

.calculator table tr td span{
    display: block;
    margin: 0 auto;
    width: auto;
    font-size: 24px;
    text-align: center;
}

.error{
    background: red;
    border-radius: 40px;
    padding: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
}

.calc-error{
    color:red;
}

/* table */


.compare-table{
    margin: 0 auto;
    width: 700px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    color: #6f6f6d;
    font-size: 14px;
    border-
}

.compare-table tr:last-child{
    border-bottom:2px solid #333333;
}


.compare-table tr:nth-child(4){
    vertical-align: top;
}

.compare-table td{
    background: #f7f7f7;
    border:1px solid #dedede;
    padding: 10px;
    width: 100px;
}

.compare-table td:hover{
    background: #ffffff;
    color:#000000;
}

.compare-table td.category{
    background: #eeeeee;
    border-left:1px solid #cccccc;
}

.compare-table td.category:hover{
    background: #ffffff;
}

.compare-table td:last-child{
    border-right:1px solid #cccccc;
}

.compare-table th{
    background: #333333;
    color:#ffffff;
    border:1px solid #333333;
    width: 100px;
    padding: 5px;
}
.compare-table th:hover{
    background: #3F3F3F;
}

.compare-table th.empty{
    background: #ffffff;
    color:#ffffff;
    border:1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}
